<!DOCTYPE html>
<html>
<head>
    <title>mybaseball : 사회인 야구를 위한 필기장</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="/static/style.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="/static/script.js"></script>
    <script src="http://cdn.jsdelivr.net/jquery.mixitup/latest/jquery.mixitup.min.js"></script>
</head>
<body>
<header>
    <div class="logo_container container">
        <h1>Mybaseball<span class="sub_description"> 사회인 야구를 위한 필기장</span></h1>
    </div>
</header>
<main>
    <div class="nav_container container">
        <nav>
            <ul class="navigation_list">
                <li><a href="/add">Add new</a>
                    <ul class="object_list">
                        <li><a href="/add/league">league</a></li>
                        <li><a href="/add/team">team</a></li>
                        <li><a href="/add/player">player</a></li>
                        <li><a href="/add/game">game</a></li>
                    </ul>
                </li>
                <li><a href="/search">Search</a>
                    <ul class="object_list">
                        <li><a href="/search/league">league</a></li>
                        <li><a href="/search/team">team</a></li>
                        <li><a href="/search/player">player</a></li>
                        <li><a href="/search/game">game</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
    <div class="main_container">
    {{{body}}}
    </div>
</main>
<footer>All copyrights reserved by Paul Kim &copy; 2016 </footer>
</body>
</html>
