<!DOCTYPE html>
<html>
<head>
    <title>mybaseball : 사회인 야구를 위한 필기장</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="style.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="script.js"></script>
</head>
<body>
<header>
    <div class="logo_container container">
        <h1>Mybaseball<span class="sub_description"> 사회인 야구를 위한 필기장</span></h1>
    </div>
    <div class="location">
        <span>current location : </span><span>show > league</span>
    </div>
</header>
<main>
    <div class="nav_container container">
        <nav>
            <ul class="navigation_list">
                <li>Add new
                    <ul class="object_list">
                        <li><a href="">{{link}}</a></li>
                    </ul>
                </li>
                <li>Search
                    <ul class="object_list">
                        <li><a href="">{{link}}</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
    <div class="main_container">
    {{{body}}}
    </div>
</main>
<footer>All copyrights reserved by Paul Kim &copy; 2016 </footer>
</body>
</html>
