<!DOCTYPE html>
<html lang="en">
<head>
    <title>mybaseball : 사회인 야구를 위한 필기장</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="{{ url_for('static', filename='style.css') }}"" rel="stylesheet" type="text/css" />
</head>
<body>
<header>
    <div class="logo_container container">
        <h1>Mybaseball<span class="sub_description">description</span></h1>
    </div>
    <div class="location">
        <span>current location : </span><span>show > league</span>
    </div>
</header>
<main>
    <div class="nav_container container">
        <nav>
            <ul class="navigation_list">
                <li><a href="">add new</a>
                    <ul class="object_list">
                    {% for object in object_list %}
                        <li>{{object}}</li>
                    {% endfor %}
                    </ul>
                </li>
                <li><a href="">search</a>
                    <ul class="object_list">
                    {% for object in object_list %}
                        <li>{{object}}</li>
                    {% endfor %}
                    </ul>
                </li>
                <!--<li><a href="">show</a>-->
                    <!--<ul class="object_list">-->
                    <!--{% for object in object_list %}-->
                        <!--<li><a href="{{ url_for('show_object', object_type=object , id_num=0) }}">{{object}}</a></li>-->
                    <!--{% endfor %}-->
                    <!--</ul>-->
                <!--</li>-->
            </ul>
        </nav>
    </div>
    <div class="main_container">
    {% block body %}
    {% endblock %}
    </div>
</main>
<footer>All copyrights reserved by Paul Kim &copy; 2016 </footer>
</body>
</html>