<!DOCTYPE html>
<html lang="en">
<head>
    <title>mybaseball : 사회인 야구를 위한 필기장</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="stylesheet.css" rel="stylesheet" type="text/css" />
</head>
<body>
<header>
    <div class="logo_container container">
        <h1>Mybaseball<span class="sub_description">description</span></h1>
    </div>
    <div class="nav_container container">
        <nav>
            <ul class="navigation_list">
                <li><a href="">add new</a>
                    <ul>
                        <li>league</li>
                        <li>player</li>
                        <li>team</li>
                    </ul>
                </li>
                <li><a href="">search</a>
                    <ul>
                        <li>league</li>
                        <li>player</li>
                        <li>team</li>
                    </ul>
                </li>
                <li><a href="">show</a>
                    <ul>
                        <li>league</li>
                        <li>player</li>
                        <li>team</li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
    <div class="location">
        <span>current location : </span><span>search > player</span>
    </div>
</header>
<main>
    <div class="condition_container">
        <h3>condition box</h3>
    </div>
    <div class="result_contaitner">
        <h3>result</h3>
        <table class="result_table">
            <tr>
                <th class="index"><a>index</a></th>
                <th class="selected"><a>col1</a></th>
                <th><a>col2</a></th>
                <th><a>col3</a></th>
            </tr>
            <tr>
                <td class="index">row1 </td>
                <td class="selected">data1</td>
                <td>data2</td>
                <td>data3</td>
            </tr>
            <tr>
                <td class="index">row2</td>
                <td class="selected">data1</td>
                <td>data2</td>
                <td>data3</td>
            </tr>
            <tr>
                <td class="index">row3</td>
                <td class="selected">data1</td>
                <td>data2</td>
                <td>data3</td>
            </tr>
        </table>
    </div>
</main>
<footer>All copyrights reserved by Paul Kim &copy; 2016 </footer>
</body>
</html>