{% extends "layout.html" %}
{% block body %}
    <div class="description">
        <h3>소개</h3>
        <div class="wrapper">
            <p class="p_description">
            {% for row in description %}
                {% for word in row %}
                <span>{{ word }}</span>
                {% endfor %}
            {% endfor %}
            </p>
        </div>
    </div>
    <div class="condition_container">
        <h3>condition box</h3>
        <form>
            <div class= "wrapper">
                <ul class="condition_list">
                    <li><span>기간 : </span><input id="start_date" type="date" /><span> 부터 </span><input id="end_date" type="date" /></li>
                    <li><span>시즌 : </span>
                        <select id="season">
                            <option value = "" selected> 연도 </option>
                            <option value = "2010">2010</option>
                            <option value = "2011">2011</option>
                        </select>
                    </li>
                    <li>
                        <label for="official_check">공식 </label><input id="official_check" name="official_check" type="checkbox" checked/>
                        <label for="unofficial_check">비공식 </label><input id="unofficial_check" name="unofficial_check" type="checkbox" checked/>
                    </li>
                </ul>
            <input type="button" name="submit" value="적용" onclick="get_where_string();" />
            </div>
        </form>
    </div>
    <div class="result_container">
        <h3>result</h3>
        {% for table in table_list %}
        <table class="result_table">
            <tr>
                {% for column_name in table['index'] %}
                    <th><a>{{ column_name }}</a></th>
                {% endfor %}
            </tr>
            {% for row in table['value'] %}
            <tr>
                {% for data in row %}
                <td>{{ data }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
        {% endfor %}
    </div>
{% endblock %}