{% extends "layout.html" %}
{% block body %}
    <div class="description">
        <h3>소개</h3>
        <div class="wrapper">
            <p class="p_description">
            {% for row in description %}
                {% for word in row %}
                <span>{{ word }}</span>
                {% endfor %}
            {% endfor %}
            </p>
        </div>
    </div>
    <div class="condition_container">
        <h3>condition box</h3>
        <form>
            <div class= "wrapper">
            <span>YEAR : </span><input type="year" />
            <input type="button" name="submit" value="적용" />
            </div>
        </form>
    </div>
    <div class="result_container">
        <h3>result</h3>
        {% for table in table_list %}
        <table class="result_table">
            <tr>
                {% for column_name in table['index'] %}
                    <th><a>{{ column_name }}</a></th>
                {% endfor %}
            </tr>
            {% for row in table['value'] %}
            <tr>
                {% for data in row %}
                <td>{{ data }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
        {% endfor %}
    </div>
{% endblock %}